<!-- {{message}} -->
<!-- <p> {{message}}</p> -->
<header>
    <h1 [ngClass]="{app_title:true}">To do List</h1>
</header>


<!-- <div [ngClass]='{invisible:visiability}' >
    <h1>Hrader</h1>
    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, minus!</p>
</div>
<button (click)="toggle()"> Toggle</button> -->


<!-- <input type="text" [(ngModel)]="text"> 
<p >{{text}}</p> -->

<!-- <div>
    <p *ngFor="let item of items; let i = index; 
    let first = first; let last = last; let even = even; let odd = odd"[ngClass]="{first:first, last:last, even:even, odd:odd}">
        {{i+1}} {{item}}
    </p>
</div> -->
<!-- <div *ngIf = "loggedIn; else logout">
    Logged in
</div> -->
<!-- <button *ngIf='isCollapsed' (click)="addTask($task)" >task</button>
<button *ngIf='!isCollapsed' (click)="addTask($task)" >no task</button>
<div>
    <p *ngIf="!isCollapsed">
       Xuli mUUUli
    </p>
</div> -->

<!-- <ng-template #logout>
    Please login

</ng-template> -->